.carousel-item {
    width: 500px;
    height: 500px;
}
button.carousel-control-next, button.carousel-control-prev {
    background-color: rgb(136, 133, 71);
    border: 5px rgb(0, 0, 0);
}
span.visually-hidden {
    font: 1em Mont light;
    color: rgb(223, 223, 223);
}

.row {
    text-align: center;
}

.karysel {
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    min-height: 40%;
    width: 40%;
}
body {  display: flex;
    flex-direction: column;}
body, head {
    background-image: url(background.png);
}

.window {
    min-height: 20%;
    width: 20%; 
}

.text1 {
    min-height: 120px;
    border-bottom: 3px solid black;
    margin: 10px;
    text-align: center;
    font: 4em Mont bold;
    color:rgb(211, 205, 128)
}

.preim-text {
    font: 1.5em Mont SemiBold;
    color:rgb(255, 255, 255);
    text-align: center;
    margin-top: 5px;
}
.preim {
    margin-right: 0px; /*нужно немного вправо*/
    width: 320px;
    height: 320px;
    text-align: center;
}

.preim-first, .preim-second {
    display: flex;
    justify-content: center;
    margin: 20px;
}
.preim img {
    max-width: 200px;
    max-height: 200px;
}


.but-eat, .but-soup, .but-pizza{
    display: flex;
    justify-content: center;
}
button.btn-rounded, button.btn-success, button.btn-warning {    /*кнопки пиццы суп выпечка */
    margin-top: 60px;
    width:240px;
    height:60px;
    float: left;
    text-align: center;
    font: 1.5em Mont Bold;
    border-radius: 50px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right:25px;
    padding-left: 25px;
    margin-bottom:30px;
}
button.btn-rounded{margin-left:0px;}
button.btn-warning {color: white;}
button.btn-warning:hover {color: white;}

/* Блок с супами */
.sup-menu {
    opacity: 100%;
    float: left;
    position:relative;
    border-radius:30px;
    margin-top:40px;
    margin-left: 120px;
    width: 280px;
    height: 130px;
    background-color:rgb(164, 231, 152);
}



/* Штука внизу с блоками */
.block {
    margin-top: 200px;
    display:none;
    width:100%;
    display: flex;
    justify-content: center;
    opacity: 0%;

    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: 300ms;
}
.block-down2 {
    display: none;
    margin-top: -100px;
    width:100%;
    padding-top: 30px;

    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: 300ms;
} .block-down2.active {
    margin-bottom: 60px;
    display: block;
    margin-top: 0px;
    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: 300ms;
}

.block-down {
    display: none;
    margin-top: -200px;
    width:100%;
    padding-top: 30px;

    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: 300ms;
}.block-down.active {
    display: block;
    margin-top: 70px;
    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: 300ms;
}

.block-down-pizza {
    margin-top: -150px;
    width:100%;
    height: 10px;
    background-color:black;
    padding-top: 30px;

    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: 300ms;
}
.block-down-pizza.active {
    margin-top: 40px;
    width:100%;
    height: 15px;
    background-color:black;
}

.block.active {
    margin-bottom:130px;
    margin-top:200px;
    opacity: 100%;
    width:100%;
    display: flex;
    justify-content: center;
}


.pizza-menu {
    opacity: 100%;
    float: left;
    position:relative;
    border-radius:30px;
    margin-top:40px;
    margin-left: 120px;
    width: 280px;
    height: 130px;
    background-color:rgb(236, 235, 150);
}

.name-pizza-left {
    float: left;
    margin-top: 90px;
    width:130px;
    border-radius:30px;
    height:40px;
    background-color: white;
    font: 1em Mont SemiBold;
    text-align: center;
    padding-top: 9px;
}

.num-right {
    float: right;
    margin-left: 40px;
    width:90px;
    border-radius:50px;
    height:40px;
    background-color: white;
    text-align: center;
    font: 1.4em Mont Bold;
    text-shadow: rgb(200, 106, 78) 0 0 8px;
    padding-left: 1px;
    padding-top: 5px;
}

.pizza-plus, .pizza-plus-2, .pizza-plus-3 {
    margin-top: -31px;
    margin-right: 8px;
    float: right;
    width:23px;
    border-radius:50%;
    height:23px;
    background-color: rgb(224, 216, 206);
    font: 1.2em Mont Bold;
    text-align: center;
    cursor: pointer;
}


.pizza-plus:hover {background-color: rgb(253, 212, 99);color: rgb(255, 255, 255);}
.pizza-plus-2:hover {background-color: rgb(75, 206, 75);color: rgb(255, 255, 255);}
.pizza-plus-3:hover {background-color: rgb(226, 161, 76);color: rgb(255, 255, 255);}
.block-minus:hover {background-color: rgb(253, 212, 99);color: rgb(255, 255, 255);}
.block-minus-2:hover {background-color: rgb(75, 206, 75);color: rgb(255, 255, 255);}
.block-minus-3:hover {background-color: rgb(226, 161, 76);color: rgb(255, 255, 255);}
.block-minus, .block-minus-2, .block-minus-3 {
    margin-top: -31px;
    margin-right: 58px;
    float: right;
    width:23px;
    border-radius:50%;
    height:23px;
    background-color: rgb(224, 216, 206);
    font: 1.2em Mont Bold;
    text-align: center;
    cursor: pointer;
}


.block-sup {
    position:absolute;
    opacity: 100%;

    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: 300ms;
}
.block-sup.active {
    position:absolute;
    opacity: 0%;
}
.block-sup.opacity {
    position:absolute;
    opacity: 100%;
}
.block-pizza.opacity {opacity: 100%;}
.block-pizza.active {opacity: 0%;}


.soup, .pizza, .peck  {
    display: none;
    margin-bottom: 30px;
    opacity: 100%;
}
.soup.active, .pizza.active, .peck.active {
    display: block !important;
    margin:auto !important;
    justify-content: center;

    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: 300ms;
}
.soup.opacity, .pizza.opacity, .peck.opacity {opacity: 100%;}



/* ВЫПЕЧКА */
.option-product {
    position: relative;
    top:130px;
    margin-right: 70px;
    border-radius:30px;
    width: 280px;
    height: 130px;
    background-color:rgb(255, 255, 255);
}
.option-product .price{
    color:rgb(113, 191, 77);
    font: 1.5em Mont Bold;
    position: absolute;
    bottom:-10px;
    margin-left: 15px;
}


.bread .bread-menu {
    margin: auto;
    margin-top: 30px !important;
    right:0;
    margin-right: 70px;
    border-radius:30px;
    width: 280px;
    height: 130px;
    background-color:rgb(251, 129, 14);
}
.bread .bread-menu:nth-child(3), .bread .bread-menu:nth-child(6) {margin-right: 0px;}
.bread-mp0 {
    position: absolute;
    top: 0;
    right:0;
    width:80px;
    border-radius:30px;
    height:35px;
    background-color: white;
}
.bread-menu .bread-name {
    position: relative;
    float: left;
    margin-top: 90px;
    width:130px;
    border-radius:30px;
    height:40px;
    background-color: white;
    font: 1em Mont SemiBold;
    text-align: center;
    padding-top: 9px;
}
.bread-0 {
    position: absolute;
    top: 0;
    right:0;
    width:80px;
    text-align: center;
    font: 1.1em Mont Bold;
    text-shadow: rgb(200, 106, 78) 0 0 8px;
    padding-top:5px;
}
.bread-plus, .bread-minus {
    cursor: pointer !important;
    margin-top: 5px;
    margin-left: 5px;
    position: absolute;
    float: right;
    width:23px;
    border-radius:50%;
    height:23px;
    background-color: rgb(224, 216, 206);
    text-align: center;
    color:black;
    font: 1.2em Mont Bold;
}
.bread-plus {
    margin-left: 0px !important;
    margin-right: 5px !important;
    right:0;}

.bread-menu {
    opacity: 100%;
    float: left;
    position:relative;
    border-radius:30px;
    margin-top:40px;
    margin-left: 120px;
    width: 280px;
    height: 130px;
    background-color:rgb(241, 194, 149);
}
.bread-menu[data-id="01"], .bread-menu[data-id="02"], .bread-menu[data-id="03"] {
    background-color:rgb(183, 241, 149);
}
.bread-menu[data-id="04"], .bread-menu[data-id="05"], .bread-menu[data-id="06"] {
    background-color:rgb(200, 230, 102);
}


.block-bread {
    position:absolute;
    opacity: 100%;

    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: 300ms;
}
.block-bread.active {
    position:absolute;
    opacity: 0%;
}
.block-bread.opacity {
    position:absolute;
    opacity: 100%;
}

/* ВЫБОР ПРЕДПРИЯТИЯ */
#info .admin {
    position: absolute;
    float: left;
    width: 600px;
}
#info .rayon {
    position: absolute;
    width: 600px;
    margin-left:600px;
}

#info, #adress2 {
    position: relative;
    padding:30px;
    height:250px;
    width:1200px;
    border-radius: 30px;
    border: 5px solid rgb(31, 31, 31);
    margin: auto;
    margin-top:50px;
}
#adress2 {
    margin-top: 500px;
}
#info p{
    font: 1.2em Mont SemiBold;
    color: rgb(230, 230, 230);
}
select {
    width:400px;
    margin-bottom: 30px;
}
select.select{float:left;max-width:150px;margin-top: -10px;}
p.adress-down {margin-top: 30px;}
#adrees-down {max-width:400px;}
p.adress-down2 {margin-top: -42px; float:right;margin-right: 95px;}
select.select2{
    float:right;
    width:210px;
    margin-top: -10px;
}

select.select3{
    float: left;
}

#adress2 {max-height:500px;}

.container.second {
    width: 600px;
    float:left;
    top:120px;
}
button.btn-outline-success {
    font: 1.2em Mont SemiBold;
    position: absolute;
    right:0;
    bottom:0;
    margin: 30px;
    width: 300px;
    margin-right: 90px;
}



/* Доп опции */
p.option {
    font: 2.2em Mont Bold;
    color: rgb(230, 230, 230);
    margin-left: 60px;
    margin-top: 10px;
    text-shadow: rgb(28, 34, 0) 0 0 10px;
}
p.option2 {
    font: 1.3em Mont Bold;
    color: rgb(230, 230, 230);
    margin-left: 230px;
    margin-top: 20px;
}
input.option {
    margin-left:6px;
    max-width:17px;
    max-height: 17px;
}


.block-down-pizza .second, .block-down-pizza .third{
    float:left;
    position: absolute;
}


/* ФУТЕР */
footer {
    position: relative;
    bottom: 0;
	box-sizing: border-box;
	max-height: 100%;
	padding-bottom: 50px;
    background-color:rgb(15, 10, 32);
}

.oootext {
    padding-top: 10px;;
    text-align: center;
    font: 2.7em Mont SemiBold;
    color: rgb(230, 230, 230);
}
#insta-vk {
    margin-top:60px;
    margin-right: 20px;
    float: right;
    max-width: 45px;
    max-height: 45px;
    border-radius: 10px;
    border: 2.5px solid rgb(148, 148, 148);
}
#insta-vk:nth-child(2) {margin-right: 70px;}
#insta-vk:nth-child(4) {
    text-align: center;
    font: 1.3em Mont SemiBold;
    color: rgb(230, 230, 230);
    float:left;
    margin-left: 200px; }
    
    
#insta-vk:nth-child(4) a, #insta-vk:nth-child(3) a {
     color:rgb(230, 230, 230);;
     position: absolute;
     margin-left:55px;
     margin-top:7px;
     cursor: pointer;
     text-decoration: none;
 }
#insta-vk:nth-child(4) a:hover, #insta-vk:nth-child(3) a:hover {
     color: rgb(56, 56, 168);
}
#insta-vk:nth-child(3) {
    text-align: center;
    font: 1.3em Mont SemiBold;
    color: rgb(230, 230, 230);
    float:left;
    margin-left: 70px;
 }

#insta-vk img {
    float:right;
    max-width: 30px;
    max-height: 30px;
    margin-right: -9px;
    margin-top:5px;
    margin-bottom: 5px;
    opacity: 60%;
 }

.priceall {
    text-align: center;
    height:150px;
    width: 100%;
    border-radius: 30px;
    border: 5px solid rgb(139, 130, 0);
    padding: auto;
}
.priceall p{
    font: 3.5em Mont Bold;
    color: white;
    padding: 25px;
    margin: auto;
}
/* Korzina */
.win-korzina {
    margin-left: -120px;
    padding-left:10px;
    position: fixed;
    width: 180px;
    height: 900px;
    background-color: white;
    bottom: 0;
    border-radius:40px;
    font: 1em Mont Bold;
    color: white;
}
.win-korzina-back {position: fixed; height:150px; width: 100px; bottom:0; background-color: rgb(255, 255, 255);    margin-left: -440px;}
.win-korzina button {margin:10px; position: absolute; bottom:0; margin-left:0px !important;}
.win-korzina .element {
    margin-right: 30px;
    padding-top: 10px;
    text-align: center;
    font: 0.9em Mont Bold;
    width: 70px;
    height: 60px;
    color: rgb(255, 0, 0);
    margin-top: 5px;
}
.element p.price{
    margin-bottom: 10px;
    font: 1.2em Mont Bold;
    color: rgb(43, 166, 55);
}
.win-korzina .number {
    margin-right: 30px;
    width: 70px;
    height: 30px;
    margin-top: 5px;}
.win-korzina .number .pluser, .win-korzina .number .minuser {
    position: absolute;
    float:left;
    padding:10px;
    margin-top: 5px;
    width:20px;
    border-radius:50%;
    height:20px;
    background-color: rgb(224, 216, 206);
    text-align: center;
    color:black;
    cursor: pointer;
    padding:0;
    font: 1em Mont Bold;
}.win-korzina .number .pluser {right:0;}
.pl-0-min .bread-0{
    text-align: center;
    margin:auto;
    position: absolute;
    margin-left:23px;
    margin-top:2px;
    font: 1.1em Mont Bold;
    color:black;
}
.pl-0-min [data-action="number"] {
    font: 1.1em Mont Bold;
    color: rgb(39, 0, 0);
    padding-left:25px !important;
    top: -3px;
}
.pl-0-min [data-action="plus"] {
    margin-left: 60px !important;
}
.pl-0-min {
    position: relative;
    width:60px;
    height:30px;
}
.pl-0-min .bread-plus, .pl-0-min .bread-minus {
    position: absolute;
    float:left;
    padding:10px;
    margin-top: 5px;
    width:20px;
    border-radius:50%;
    height:20px;
    background-color: rgb(224, 216, 206);
    text-align: center;
    color:black;
    cursor: pointer;
    padding:0;
    font: 1em Mont Bold;
}
.pl-0-min .bread-plus {right:-7px;}

.number .line{
    margin-top:5px;
    height:2px;
    width:100%;
    background-color:rgb(200, 202, 188);
}
.win-korzina .number .pluser:hover, .win-korzina .number .minuser:hover, .bread-plus:hover, .bread-minus:hover {background-color: rgb(255, 227, 192); color:rgb(126, 103, 60);}
.strelka {
    position: relative;
    margin-top:15px;
    float:right;
    font: 4.7em Mont Bold;
    color: rgb(113, 113, 113);
    margin-right: 20px;
    cursor: pointer;
}
.win-korzina.active, .win-korzina-back.active {
    position: fixed;
    margin-left: 0px;
}
.option-product button {
    font: 0.95em Mont Bold;
    position: absolute;
    width: 120px;
    bottom:0;
    right:0;
    border-radius: 60px;
}
.option-product button:hover {color:rgb(169, 255, 169);}





 .korzina {
     float: right;
     height: 100%;
     width: 50px;
     background-color:black;
 }
 .line-footer:nth-child(1) {margin-top:-20px !important;}
 .line-footer {
    font: 0.95em Mont Light;
    margin-top:130px;
    width: 100%;
    height: 5px;
    background-color:rgb(29, 22, 53);
 }
.line-footer p {
    padding-top:10px;
    color:rgb(68, 74, 75);
    padding-left: 5px;
}
.line-footer p:nth-child(2) {
    float:right;
    margin-right:20px;
    margin-top:-50px;
}
.line-footer p:nth-child(1) {margin-left:20px;}

label.text {
    margin-bottom: 0px !important;
}